@font-face {
    font-family:"Score Board";
    src:url('../recursos/scoreboard.ttf');
}

.center{text-align:center;}
.texto-maior{font-size:12px !important;}
.titulo-maior{font-size:15px !important;}
.uma-linha{line-height:40px;}
.marginTop{margin-top:8px !important;}
span p{
    font-weight:300;
    font-size:20px;
    color:rgb(100,100,100) !important;
}

body{background:url('../imagens/bg-body.png');}

    #container{
        border-left:1px solid rgb(255,255,255);
        border-right:1px solid rgb(255,255,255);
        box-shadow:0 0 10px rgb(102,102,102);
        background:rgb(255,255,255);
    }

        .logotipo{
            z-index:999;
            float:left;
            position:absolute;
            width:460px;
            height:180px;
            background:url('../imagens/topo.png') no-repeat left top;
            background-size:460px 185px;
        }

        .idiomas{
            margin:130px 0 0 75px;
            position:relative;
            z-index:99999;
            width:106px;
            height:30px;
        }   
            .pt-br,
            .en-us{
                float:left;
                margin-right:3px;
            }

            .pt-br img,
            .en-us img {
                width:30px;
                height:25px;
            }

        .banner{
            margin:-160px 0 0 230px;
            width:730px;
            height:180px;
            overflow:hidden;
        }

            .banner img{
                width:730px;
                height:180px;       
            }

        .menu{
            text-align:center;
            background:rgb(255,255,255) url('../imagens/bg-menu-normal.jpg') repeat-x;
            background-size:1px 75px;
            height:70px;
            margin-bottom:30px;
        }

        .menu ul,
        .menu-rodape ul,
        .links-destacados ul{
            list-style-type:none;
            display:inline-block;    
        }

            .menu li,
            .menu-rodape li,
            .links-destacados li{
                float:left;
            }

            .menu li{
                background-color:transparent;
                text-align:center;
                margin:0 5px 0 0;
                padding:5px;
                height:60px;
            }

            .menu li:hover{
                background-color:rgb(0,153,153);
            }

            .menu li:hover a{
                color:rgb(255,255,255);
                text-shadow:0 0 10px rgb(0,0,0);
            }

            .menu ul li a,
            .menu-rodape ul li a,
            .links-destacados ul li a{
                text-decoration:none;
            }

            .menu a{
                letter-spacing:1px;
                line-height:101px;
                color:rgb(150,150,150);
                -webkit-transition: color .2s linear;
                -moz-transition: color .2s linear;
                -o-transition: color .2s linear;
                transition: color .2s linear;
                font-family:'Didact Gothic',sans-serif;
                font-size:19px;
                font-weight:normal;
            }

            .menu a:hover{
                color:rgb(255,255,255);
            }

                .primotech-21 ul,
                .fabricantes ul,
                .onde-comprar ul,
                .amostras ul{
                    z-index:9999;
                    margin:-36px 0 0 -5px;
                    position:absolute;
                    background:rgb(20,109,113);
                    display:none;
                }

                .primotech-21:hover ul,
                .fabricantes:hover ul,
                .onde-comprar:hover ul,
                .amostras:hover ul{
                    display:block;
                }

                    .primotech-21 ul li,
                    .fabricantes ul li,
                    .onde-comprar ul li,
                    .amostras ul li{
                        border-right:2px solid rgb(20,109,113);
                        margin:0;
                        background-color: transparent;
                        text-align:left;
                        font-family:Arial,sans-serif;
                        height:20px;
                        float:none;
                    }

                    .primotech-21 ul li:hover,
                    .fabricantes ul li:hover,
                    .onde-comprar ul li:hover,
                    .amostras ul li:hover{
                        border-right:2px solid rgb(0,153,153);
                        background:rgb(0,90,90);
                    }

                    .primotech-21 ul li a,
                    .fabricantes ul li a,
                    .onde-comprar ul li a,
                    .amostras ul li a{
                        line-height:15px;
                        padding:0;
                        color:rgb(222,222,220);
                        -webkit-transition: color .2s linear;
                        -moz-transition: color .2s linear;
                        -o-transition: color .2s linear;
                        transition: color .2s linear;
                        font-size:15px;
                        font-weight:normal;
                    }

                    .primotech-21 ul li:hover a,
                    .fabricantes ul li:hover a,
                    .onde-comprar ul li:hover a,
                    .amostras ul li:hover a{
                        color:rgb(255,255,255);
                    }

            /* sprite */

            .primotech-21,
            .fabricantes,
            .comprar,
            .aplicacoes,
            .primonews,
            .amostras,
            .fale-conosco{
                background-size:1700px 49px;
            }

            .menu li.primotech-21{
                background:url('../imagens/sprite-menu.png') no-repeat -1615px 4px;
            }

            .menu li.primotech-21:hover{
                background:
                    url('../imagens/sprite-menu.png') no-repeat -1507px 4px, 
                    rgb(0,153,153) url('../imagens/bg-menu-hover.jpg') repeat-x left top;
                background-size:1700px 36px, 1px 75px;
            }

            .menu li.fabricantes{
                background:url('../imagens/sprite-menu.png') no-repeat -545px 4px;
            }

            .menu li.fabricantes:hover{
                background:
                    url('../imagens/sprite-menu.png') no-repeat -430px 4px,
                    rgb(0,153,153) url('../imagens/bg-menu-hover.jpg') repeat-x left top;
                background-size:1700px 36px, 1px 75px;
            }

            .menu li.onde-comprar{
                background:url('../imagens/sprite-menu.png') no-repeat -1069px 4px;
            }

            .menu li.onde-comprar:hover{
                background:
                    url('../imagens/sprite-menu.png') no-repeat -938px 4px,
                    rgb(0,153,153) url('../imagens/bg-menu-hover.jpg') repeat-x left top;
                background-size:1700px 36px, 1px 75px;
            }

            .menu li.aplicacoes{
                background:url('../imagens/sprite-menu.png') no-repeat -312px 4px;
            }

            .menu li.aplicacoes:hover{
                background:
                    url('../imagens/sprite-menu.png') no-repeat -187px 4px,
                    rgb(0,153,153) url('../imagens/bg-menu-hover.jpg') repeat-x left top;
                background-size:1700px 36px, 1px 75px;
            }

            .menu li.primonews{
                background:url('../imagens/sprite-menu.png') no-repeat -1372px 4px;
            }

            .menu li.primonews:hover{
                background:
                    url('../imagens/sprite-menu.png') no-repeat -1241px 4px,
                    rgb(0,153,153) url('../imagens/bg-menu-hover.jpg') repeat-x left top;
                background-size:1700px 36px, 1px 75px;
            }

            .menu li.amostras{
                background:url('../imagens/sprite-menu.png') no-repeat -90px 4px;
            }

            .menu li.amostras:hover{
                background:
                    url('../imagens/sprite-menu.png') no-repeat 18px 4px,
                    rgb(0,153,153) url('../imagens/bg-menu-hover.jpg') repeat-x left top;
                background-size:1700px 36px, 1px 75px;
            }

            .menu li.fale-conosco{
                background:url('../imagens/sprite-menu.png') no-repeat -815px 4px;
            }

            .menu li.fale-conosco:hover{
                background:
                    url('../imagens/sprite-menu.png') no-repeat -675px 4px,
                    rgb(0,153,153) url('../imagens/bg-menu-hover.jpg') repeat-x left top;
                background-size:1700px 36px, 1px 75px;
            }

            /* / sprite*/

            .box-marca-1,
            .box-marca-2,
            .box-marca-3,
            .box-marca-4,
            .box-marca-5,
            .box-marca-6,
            .box-marca-7{
                height:95px;
                width:220px;
                margin-bottom:15px;
                overflow:hidden;
            }
            
                .box-marca-2 img{
                    margin-top:-110px;
                }

                .box-marca-3 img{
                    margin-top:-220px;
                }

                .box-marca-4 img{
                    margin-top:-332px;
                }

                .box-marca-5 img{
                    margin-top:-443px;
                }

                .box-marca-6 img{
                    margin-top:-560px;
                }

                .box-marca-7 img{
                    margin-top:-675px;
                }

            .header-coluna{
                padding:0 0 5px 20px;
                background:rgb(0,153,153) url('../imagens/bg-header-coluna.jpg') no-repeat right bottom;
            }

            .header-coluna:hover h1{
                color:rgb(222,222,220);
            }

                .header-coluna h1{
                    padding-bottom:3px;
                    letter-spacing:1px;
                    display:inline;
                    font-size:18px;
                    color:rgb(255,255,255);
                    border-bottom:1px dotted rgb(255,255,255);
                }

            .header-coluna-cinza{
                padding:0 0 5px 20px;
                background:rgb(0,153,153) url('../imagens/bg-header-coluna-cinza.jpg') no-repeat right bottom;
            }
            
            .header-coluna-cinza:hover h1{
                color:rgb(222,222,220);
            }

                .header-coluna-cinza h1{
                    padding-bottom:3px;
                    letter-spacing:1px;
                    display:inline;
                    font-size:18px;
                    color:rgb(255,255,255);
                    border-bottom:1px dotted rgb(255,255,255);
                }

            .banner-central{
                margin-bottom:55px;
            }

            .banner-central img{
                border:3px solid rgb(222,222,220);
                width:460px;
                height:150px; 
            }

            .banner-inferior img{
                margin-top:20px;
            }

            #fabricantes-lateral .header-coluna,
            .destaques .header-coluna{
                margin-bottom:30px;    
            }

            .box-central{
                cursor:pointer;
                margin:0 4px 10px 6px;
                float:left;
                width:220px;
                height:200px;
            }

                .box-central img{
                    width:220px;
                    height:200px;
                }

                .descricao{
                    width:220px;
                    height:60px;
                    margin-top:-60px;
                    position:absolute;
                    background:rgb(0,100,100);
                    background:rgba(0,100,100,0.9);
                    opacity:0.9;
                    filter:alpha(opacity=90);
                    overflow:hidden;
                }

                .descricao:hover{
                    border-top:1px solid rgb(0,50,50);
                    height:100px;
                    margin-top:-101px;
                    background:rgba(0, 100,100,1);
                    opacity:1;
                    filter:alpha(opacity=100);
                }

                    .descricao p,
                    .descricao a{
                        font-weight:900;
                        padding:5px;
                        line-height:16px;
                        font-size:14px;
                        text-align:center;
                        color:rgb(255,255,255);
                    }

                    .descricao-hide{
                        visibility:hidden;
                    }

                    .descricao:hover .descricao-hide{
                        margin-top:-20px;
                        font-weight:300;
                        visibility:visible;
                    }

                    .descricao-hide a{
                        text-decoration:none;
                        font-weight:300;
                    }

                    .descricao-hide a:hover{
                        text-decoration:underline;
                    }

/* Notícias | Primonews (Boxes) */
    .boxes-em-destaque{
        height:400px;
        margin-top:10px;
    }

    .box-central-primonews-grande{
        float:left;
        width:380px;
        height:200px;
    }

        .box-central-primonews-grande img{
            width:380px;
            height:200px;
        }

        .descricao-primonews-grande{
            width:380px;
            height:60px;
            margin-top:-60px;
            position:absolute;
            background:rgb(0,100,100);
            background:rgba(0,100,100,0.9);
            opacity:0.9;
            filter:alpha(opacity=90);
            overflow:hidden;
        }

            .descricao-primonews-grande p,
            .descricao-primonews-grande a{
                cursor:pointer;
                font-weight:300;
                padding:5px;
                line-height:16px;
                font-size:18px;
                text-align:center !important;
                color:rgb(255,255,255);
            }

    /* Pequenos */
        .box-central-primonews-peq{
            float:left;
            width:310px;
            height:200px;
        }

            .box-central-primonews-peq img{
                width:310px;
                height:200px;
            }

            .descricao-primonews-peq{
                width:310px;
                height:60px;
                margin-top:-60px;
                position:absolute;
                background:rgb(0,100,100);
                background:rgba(0,100,100,0.9);
                opacity:0.9;
                filter:alpha(opacity=90);
                overflow:hidden;
            }

                .descricao-primonews-peq p,
                .descricao-primonews-peq a{
                    cursor:pointer;
                    font-weight:300;
                    padding:5px;
                    line-height:16px;
                    font-size:18px;
                    text-align:center !important;
                    color:rgb(255,255,255);
                }

                .resumo-primonews-grande{
                    height:115px;
                    padding:30px 0 5px 0;
                } 

                    .resumo-primonews-grande p{
                        font-size:14px;
                        color:rgb(0,0,0);
                    }

                .resumo-primonews-peq{
                    height:115px;
                    padding:30px 0 5px 0;
                }

                    .resumo-primonews-peq p{
                        font-size:14px;
                        color:rgb(0,0,0);
                    }

        .botao-leia-mais{
            cursor:pointer;
            background:url('../imagens/bg-leia-mais.jpg') repeat-x 10px 2px;
            float:right;
            border-radius:10px;
            height:25px;
            width:100px;
            border:1px solid rgb(230,230,230);
        }

        .botao-leia-mais:hover{
            border:1px solid rgb(200,200,200);
        }

            .botao-leia-mais p,
            .botao-leia-mais a{
                text-decoration:none;
                line-height:24px;
                text-align:center !important;
                width:100px;
                padding:0;
                color:rgb(0,0,0);
                font-size:14px;
            }

                .botao-leia-mais p span,
                .botao-leia-mais a span{
                    font-weight:900;
                    color:rgb(0,153,153);
                }

/* / Primonews */

    /* Box Cinza | Primonews */

        .box-cinza-primonews{
            padding:5px;
            background:rgb(240,240,240);
        }

    /* box-redes-sociais-primonews */
        .facebook-primonews{
            background:rgb(255,255,255);
            margin-left:16px;
        }
        .box-redes-sociais-primonews{
            margin-top:5px;
        }
        
            .box-redes-sociais-primonews .lista-icones{
                margin-left:74px;
            }

        #comunicacao-lateral{
            margin-bottom:20px;
        }

        .box-noticias{
            width:220px;
            height:160px;
            overflow:hidden;
            position:absolute;
            cursor:pointer;
            border-bottom:5px solid rgb(0,153,153);
        }

            .noticia{
                height:34px;
                width:220px;
                position:absolute;
                border-bottom:2px dotted rgb(0,153,153);
            }

                .noticia p,
                .noticia a{
                    margin:0;
                    font-weight:900;
                    font-size:14px;
                    color:rgb(133,133,131);
                    margin:0;
                    text-decoration:none;
                }

                    .noticia a:hover{
                        color:rgb(100,100,100);
                        text-decoration:underline;
                    }

                    .videos{
                        padding-top:165px;
                    }

        /* Notícias Primonews */
        .box-noticias-primonews{
            position:absolute;
            width:390px;
            height:500px;
            overflow:hidden;
            border-bottom:5px solid rgb(0,153,153);
        }

            .header-noticia-primonews{
                border-bottom:2px solid rgb(200,200,200);
            }

                .header-noticia-primonews h1{
                    letter-spacing:-1px;
                    margin:0;
                    color:rgb(0,153,153);
                    font-size:18px;
                    text-transform:uppercase;
                }

            .noticia-primonews{
                width:380px;
                height:165px;
                position:absolute;
                margin-bottom:10px;
                display:block;
                padding:5px;
                float:left;
            }

            .noticia-primonews:hover{
                background:rgb(250,250,250);
            }

                .resumo-noticia p{
                    line-height:20px;
                    font-size:16px;
                    text-align:justify;
                    color:rgb(0,0,0);
                    margin:0;
                    padding:5px 5px 0 5px;
                }

        /* / Notícias Primonews*/

            .lista-icones{
                margin-left:32px;
            }

                .icone-social{
                    float:left;
                    overflow:hidden;
                    display:block;
                    width:35px;
                    height:42px;
                    margin-right:5px;
                }

                    .icone-social a{
                        display:block;
                        width:35px;
                        height:42px;
                    }

                        .icone-facebook{
                            margin-left:-197px;
                        }

                        .icone-twitter{
                            margin-left:-8px;
                        }

                        .icone-linkedin{
                            margin-left:-70px;
                        }

                        .icone-email{
                            margin-left:-135px;
                        }

            .box-facebook{
                margin:50px 0 10px 0;
            }

            /* Widget Cotação */
            .box-cotacao{
                background:rgb(235,235,235);
                padding:10px;
            }

            .header-em-reais{
                background:url('../imagens/bg-em-reais.jpg') repeat-x;
            }

                .header-em-reais p{
                    text-align:center;
                    font-size:18px;
                    color:rgb(255,255,255);
                }

                .display-cotacao p{
                    padding:2px;
                    background:rgb(0,153,153); 
                    margin:0;
                    font-size:20px;
                    color:rgb(255,255,255);
                    border-right:2px solid rgb(235,235,235);
                }

                .display-cotacao span{
                    line-height:35px;
                    padding:5px 10px 5px 5px;
                    background:rgb(0,153,153); 
                    margin:0;
                    font-size:20px;
                    font-weight:900;
                    color:rgb(255,255,255);
                }

                #compra,
                #venda{
                    height:50px;
                }

                    #compra p,
                    #venda p{
                        float:left;
                        width:85px;
                    }

                span.marcador-up{
                    color:rgb(21,242,58);
                }

                span.marcador-down{
                    color:rgb(255,0,0);
                }

                object {
                    margin-bottom:-5px;
                }

            .data-cotacao{
                margin-left:44px;
                padding:5px;
                width:145px;
                background:rgb(188,188,188);
            }
                .data-cotacao p{
                    letter-spacing:1px;
                    padding:2px;
                    margin:0;
                    font-size:10px;
                    font-weight:900;
                    color:rgb(255,255,255);
                }

            .box-cinza-primonews #compra p,
            .box-cinza-primonews #venda p{
                padding-right:84px;
            }
            
            .box-cinza-primonews .header-em-reais p{
                text-align:center;
            }

            .box-cinza-primonews .data-cotacao{
                margin-left:114px;
                width:155px;
            }

            /* / Widget Cotação */

            #rodape{
                border-top:5px solid rgb(0,153,153);
                background:rgb(11,85,78) url('../imagens/bg-rodape.jpg') repeat-x;
            }

                .menu-rodape{
                    text-align:center;
                }

                    .menu-rodape li{
                        margin:20px 15px 0 0;        
                    }

                        .menu-rodape a,
                        .links-destacados a{
                            -webkit-transition: color .2s linear;
                            -moz-transition: color .2s linear;
                            -o-transition: color .2s linear;
                            transition: color .2s linear;
                            font-family:Arial,sans-serif;
                            font-size:16px;
                            font-weight:normal;
                            color:rgb(255,255,255);
                        }

                        .menu-rodape a:hover,
                        .links-destacados a:hover{
                            color:rgb(200,200,200);
                        }

            .links-destacados{
                margin-left:76px;
                float:left;
            }

                .links-destacados li{
                    margin:20px 30px 0 0;        
                }

            .copyright{
                font-size:20px;
                color:rgb(222,222,220);
                font-family:'Didact Gothic',sans-serif;
                text-align:center;
            }

/* Páginas */
    .header-paginas{
        margin-bottom:20px;
        border-bottom:3px solid rgb(0,153,153);
    }

        .header-paginas h1{
            margin-bottom:0;
            font-size:35px;
            color:rgb(100,100,100);
        }

        .icone-primotech21,
        .icone-fabricantes,
        .icone-onde-comprar,
        .icone-aplicacoes,
        .icone-primonews,
        .icone-amostras,
        .icone-fale-conosco{
            width:50px;
            height:50px;
            display:block;
            float:left;
        }

        .icone-primotech21{
            background:url('../imagens/sprite-menu-paginas.png') no-repeat -1160px 15px;
        }

        .icone-fabricantes{
            background:url('../imagens/sprite-menu-paginas.png') no-repeat -350px 10px;
        }

        .icone-onde-comprar{
            background:url('../imagens/sprite-menu-paginas.png') no-repeat -742px 10px;
        }

        .icone-aplicacoes{
            background:url('../imagens/sprite-menu-paginas.png') no-repeat -163px 11px;

        }
        
        .icone-primonews{
            background:url('../imagens/sprite-menu-paginas.png') no-repeat -955px 13px;

        }
        
        .icone-amostras{
            background:url('../imagens/sprite-menu-paginas.png') no-repeat 5px 12px;
        
        }
        
        .icone-fale-conosco{
            background:url('../imagens/sprite-menu-paginas.png') no-repeat -530px 14px;
        }

        .conteudo-pagina{
            font-size:20px;
            color:rgb(100,100,100);
        }

            .conteudo-pagina p{
                text-align:justify;
                padding-right:20px;
            }

            .conteudo-onde-comprar p{
                line-height:35px;
            }

            .conteudo-onde-comprar ul,
            .conteudo-fabricantes ul{
                margin-top:50px;
            }

                .conteudo-onde-comprar li,
                .conteudo-fabricantes li{
                    margin-bottom:15px;
                }

                .conteudo-onde-comprar a,
                .conteudo-fabricantes a{
                    text-decoration:none;
                    color:rgb(100,100,100);
                }

                .conteudo-onde-comprar a:hover,
                .conteudo-fabricantes a:hover{
                    border-bottom:1px solid rgb(220,220,220);
                    color:rgb(220,220,220);
                }

    .box-fabricante{
        display:block;
        width:233px;
        height:330px;
        float:left;
    }


    .logotipo-fabricantes{
        margin-bottom:30px;
        height:60px;
        text-align:center;
    }

     .conteudo-alps .boxes-fabricantes{
        width:600px;
     }

        .logotipo-fabricante{
            text-align:center;
            line-height:55px;
            margin-bottom:20px;
            padding:5px;
            border-radius:10px;
            width:195px;
            height:65px;
            background:rgb(238,238,238);
        }

    .conteudo-alps .box-fabricante,
    .conteudo-torex .box-fabricante{
        margin-right:65px;
    }

        .box-fabricante p{
            padding:0;
            font-size:13px;
        }

            .boxes-fabricantes span p{
                color:rgb(0,0,0);
                margin-bottom:50px;
            }

        .botoes{
            float:left;
            display:block;
        }

        .box-faca-cotacao{
            margin:100px 0 50px 0;
        }

        .botao-cotacao{
            margin:0 auto;
            padding:5px;
            width:280px;
            height:80px;
            background:url('../imagens/bg-faca-cotacao.jpg') repeat-x 0 -5px;
        }

            .box-faca-cotacao a{
                text-decoration:none;
            }

            .box-faca-cotacao a:hover p{
                color:rgb(255,255,255);
            }

            .botao-cotacao:hover{
                box-shadow:0 0 10px rgb(200,200,200);
            }


            .botao-cotacao p{
                font-family:"Century Gothic",sans-serif;
                font-size:35px;
                font-weight:900;
                line-height:38px;
                color:rgb(240,240,240);
                margin:0;
                padding:0;
            }

                p.linha-1-cotacao{
                    margin-left:20px;
                }

                p.linha-2-cotacao{
                    margin-right:20px;
                    text-align:right;
                }

    /* Formulários Amostras */
    .formulario-amostras{
        margin-top:60px;
        width:560px;
        text-align:right;
    }

        .formulario-amostras input[type="text"],
        .formulario-amostras textarea{
            font-weight: 900;
            font-style: italic;
            margin-bottom:10px;
            outline:0;
            width:330px;
            height:25px;
            border-top:1px solid rgb(200,200,200);
            border-right:1px solid rgb(200,200,200);
            border-bottom:3px solid rgb(200,200,200);
            border-left:1px solid rgb(200,200,200);
            background:rgb(200,200,200);
            font-family:Arial,sans-serif;
            font-size:15px;
        }

        .formulario-amostras input[type="text"]:focus,
        .formulario-amostras textarea:focus{
            background:rgb(220,220,220);
            border-top:1px solid rgb(100,100,100);
            border-right:1px solid rgb(100,100,100);
            border-bottom:3px solid rgb(100,100,100);
            border-left:1px solid rgb(100,100,100);
        }

        .formulario-amostras textarea{
            vertical-align:top;
            width:325.5px;
            height:170px;
            resize:none;
        }

        #textbox-qtde-anual{
            width:98px;
        }

        #textbox-sop{
            width:170px;
        }

        #textbox-ddd{
            width:48px;
        }

        #textbox-telefone{
            width:274px;
        }

        .botao-enviar{
            margin-top:25px;
            text-align:center;
        }

            .botao-enviar input[type="submit"]{
                color:rgb(255,255,255);
                margin-left:80px;
                width:100px;
                height:30px;
                font-size:20px;
                background:rgb(8,100,97);
                border:2px solid rgb(8,100,97);
            }

            .botao-enviar input[type="submit"]:hover{
                border:2px solid rgb(13,170,165);
            }

            #formulario-amostras p{
                padding-left:221px;
                text-align:left;
                font-size:15px;
                font-weight:900;
                font-style:italic;
                color:rgb(255,0,0);
                margin:0;
            }
    /* / Formulários Amostras */

    /* Formulário Fale conosco */
    .conteudo-fale-conosco{
        padding-bottom:425px;
        background:url('../imagens/bg-fale-conosco.jpg') no-repeat 410px bottom;
        background-size:300px;
    }
    
    .formulario-fale-conosco{
        margin-top:60px;
        width:510px;
        text-align:right;
    }

        .formulario-fale-conosco input[type="text"],
        .formulario-fale-conosco textarea{
            font-weight: 900;
            font-style: italic;
            margin-bottom:10px;
            outline:0;
            width:390px;
            height:25px;
            border-top:1px solid rgb(200,200,200);
            border-right:1px solid rgb(200,200,200);
            border-bottom:3px solid rgb(200,200,200);
            border-left:1px solid rgb(200,200,200);
            background:rgb(200,200,200);
            font-family:Arial,sans-serif;
            font-size:15px;
        }

        .formulario-fale-conosco input[type="text"]:focus,
        .formulario-fale-conosco textarea:focus{
            background:rgb(220,220,220);
            border-top:1px solid rgb(100,100,100);
            border-right:1px solid rgb(100,100,100);
            border-bottom:3px solid rgb(100,100,100);
            border-left:1px solid rgb(100,100,100);
        }

        .formulario-fale-conosco textarea{
            vertical-align:top;
            width:392.5px;
            height:115px;
            resize:none;
        }

        .formulario-fale-conosco #textbox-endereco{
            width:225px;
        }

        .formulario-fale-conosco #textbox-cep{
            width:105px;
        }

        .formulario-fale-conosco #textbox-cidade{
            width:248px;
        }

        .formulario-fale-conosco #textbox-estado{
            width:60px;
        }

        .formulario-fale-conosco #textbox-ddd{
            width:48px;
        }

        .formulario-fale-conosco #textbox-telefone{
            width:334px;
        }

            .formulario-fale-conosco .botao-enviar input[type="submit"]{
                color:rgb(255,255,255);
                margin-left:-90px;
                width:100px;
                height:30px;
                font-size:20px;
                background:rgb(8,100,97);
                border:2px solid rgb(8,100,97);
            }

            #formulario-fale-conosco p{
                padding-left:221px;
                text-align:left;
                font-size:15px;
                font-weight:900;
                font-style:italic;
                color:rgb(255,0,0);
                margin:0;
            }
    /* / Formulário Fale conosco */

    /* Formulário Aplicações */
    .formulario-aplicacoes{
        margin-top:60px;
        width:560px;
        text-align:right;
    }

        .formulario-aplicacoes input[type="text"],
        .formulario-aplicacoes textarea{
            font-weight: 900;
            font-style: italic;
            margin-bottom:10px;
            outline:0;
            width:420px;
            height:25px;
            border-top:1px solid rgb(200,200,200);
            border-right:1px solid rgb(200,200,200);
            border-bottom:3px solid rgb(200,200,200);
            border-left:1px solid rgb(200,200,200);
            background:rgb(200,200,200);
            font-family:Arial,sans-serif;
            font-size:15px;
        }

        .formulario-aplicacoes input[type="text"]:focus,
        .formulario-aplicacoes textarea:focus{
            background:rgb(220,220,220);
            border-top:1px solid rgb(100,100,100);
            border-right:1px solid rgb(100,100,100);
            border-bottom:3px solid rgb(100,100,100);
            border-left:1px solid rgb(100,100,100);
        }

        .formulario-aplicacoes textarea{
            vertical-align:top;
            width:415.5px;
            height:170px;
            resize:none;
        }

        .formulario-aplicacoes #textbox-ddd{
            width:48px;
        }

        .formulario-aplicacoes #textbox-telefone{
            width:364px;
        }

            .formulario-aplicacoes .botao-enviar input[type="submit"]{
                color:rgb(255,255,255);
                margin-left:-20px;
                width:100px;
                height:30px;
                font-size:20px;
                background:rgb(8,100,97);
                border:2px solid rgb(8,100,97);
            }

            #formulario-aplicacoes p{
                padding-left:221px;
                text-align:left;
                font-size:15px;
                font-weight:900;
                font-style:italic;
                color:rgb(255,0,0);
                margin:0;
            }
    /* / Formulário Aplicações */

    .header-esquerda,
    .logotipos-esquerda{
        width:450px;
        float:left;
        display:block;
    }

    .header-esquerda,
    .header-direita{
        margin-bottom:60px;
    }

    .logotipo-amostras{
        padding:0 0 50px 20px;
    }

    .logotipo-amostras img{
        padding-bottom:5px;
        border-bottom:2px solid rgb(255,255,255);
    }

    .logotipo-amostras img:hover{
        border-bottom:2px solid rgb(0,153,153);
    }


    /* Botão Deixar a sua opinião... */
    .box-deixar-opiniao{
        margin:80px 0 50px 0;
    }

    .botao-opiniao{
        margin:0 auto;
        padding:5px;
        width:540px;
        height:80px;
        background:url('../imagens/bg-faca-cotacao.jpg') repeat-x 0 -5px;
    }

        .box-deixar-opiniao a{
            font-style:italic;
            text-decoration:none;
        }

        .box-deixar-opiniao a:hover p{
            color:rgb(255,255,255);
        }

        .botao-opiniao:hover{
            box-shadow:0 0 10px rgb(200,200,200);
        }


        .botao-opiniao p{
            font-family:"Century Gothic",sans-serif;
            font-size:35px;
            font-weight:900;
            line-height:38px;
            color:rgb(240,240,240);
            margin:0;
            padding:0;
        }

            p.linha-1-opiniao{
                margin-left:20px;
            }

            p.linha-2-opiniao{
                margin-right:20px;
                text-align:right;
            }

/* / Páginas */

.contato-fabricante{
    margin-top:-20px;
}

/* Aplicações - Categorias */
    .header-aplicacoes p{
        text-align:justify;
        font-size:19px;
        color:rgb(0,0,0);
    }

    .header-categorias{
        margin-top:40px;
        margin-bottom:60px;
        border-bottom:2px solid rgb(200,200,200);
    }
        .header-categorias h1{
            font-weight:300;
            margin:0;
        }


.coluna-categorias-esquerda,
.coluna-categorias-direita{
    display:block;
    float:left;
    width:320px;
}

    .coluna-categorias-esquerda .botao-categoria{
        display:block;
        width:260px;
        height:81px;
        margin-left:60px;
        margin-bottom:60px;
        background:url('../imagens/bg-faca-cotacao.jpg') repeat-x 0 -23px;
    }

    .coluna-categorias-direita .botao-categoria{
        display:block;
        width:260px;
        height:81px;
        margin-left:20px;
        margin-bottom:60px;
        background:url('../imagens/bg-faca-cotacao.jpg') repeat-x 0 -23px;
    }

    .categoria-icone{
        display:block;
        float:left;
        width:50px;
    }

    .categoria-texto{
        line-height:25px;
        text-align:center;
        width:205px;
        margin-top:15px;
        display:block;
        float:left;
    }

    .categoria-texto span{
        letter-spacing:2px;
        color:rgb(200,200,200);
    }

.botao-categoria:hover .categoria-texto span{
    color:rgb(255,255,255);
}

.botao-categoria:hover {
    cursor:pointer;
    box-shadow:0 0 10px rgb(200,200,200);
}

/* Botões Fabricantes (subpáginas) */
.lista-categorias{
    margin-left:30px;
}
    .conteudo-nichicon .botao-categoria{
        display:block;
        float:left;
        width:185px;
        height:60px;
        margin-left:15px;
        margin-bottom:15px;
        background:url('../imagens/bg-faca-cotacao.jpg') repeat-x 0 -23px;
    }

    .conteudo-nichicon .categoria-texto{
        line-height:16px;
        width:185px;
        margin-top:9px;
    }

    .conteudo-nichicon span{
        font-weight:bold;
        font-size:14px;
        letter-spacing:0;
        color:rgb(200,200,200);
    }

    /* Botões Fabricantes (subpáginas modelo com 4 botões por linha) */
    .conteudo-torex .lista-categorias,
    .conteudo-alps .lista-categorias{
        margin-left:10px;
    }
        .conteudo-torex .botao-categoria,
        .conteudo-alps .botao-categoria{
            display:block;
            float:left;
            width:150px;
            height:55px;
            margin-left:15px;
            margin-bottom:15px;
            background:url('../imagens/bg-faca-cotacao.jpg') repeat-x 0 -23px;
        }

        .conteudo-torex .categoria-texto,
        .conteudo-alps .categoria-texto{
            line-height:16px;
            width:150px;
            margin-top:18px;
        }

        .conteudo-torex span,
        .conteudo-alps span{
            font-weight:bold;
            font-size:14px;
            letter-spacing:0;
            color:rgb(200,200,200);
        }

/* Boxes Categorias (Fabricantes) */
.boxes-categorias{
    margin:70px 0 0 45px;
}

    .box-categoria{
        margin-right:85px;
        display:block;
        float:left;
        width:240px;
    }

        .header-box-categoria{
            background:url('../imagens/bg-header-categoria.jpg') repeat-x;
            height:60px;
        }

            .header-box-categoria p{
                width:240px;
                font-size:22px;
                padding-top:13px;
                text-align:center;
                color:white;
                font-weight:900;
            }

        .imagem-box-categoria{
            display:block;
            position:relative;
            border:1px solid rgb(200,200,200);
            border-bottom:1px solid rgb(255,255,255);
            padding:7px 0 0 7px;
            width:231px;
            height:95px;
        }

            .imagem-box-categoria img{
                border:1px solid rgb(200,200,200);
                width:221px;
                height:85px;
            }

        .lista-itens-box-categoria{
            border:1px solid rgb(200,200,200);
            border-bottom:1px solid rgb(255,255,255);
        }

            .lista-itens-box-categoria ul{
                margin:0;
                list-style-type:none;
                display:list-item;
                text-align:center;
            }

                .lista-itens-box-categoria ul li{
                    padding:0;
                    margin-left:0;
                    border-bottom:1px solid rgb(200,200,200);
                }

                .lista-itens-box-categoria ul li:hover{
                    background:rgb(230,230,230);
                }                

                .lista-itens-box-categoria a{
                    text-decoration:none;
                    color:rgb(0,0,0);
                    font-size:15px;
                }

                .lista-itens-box-categoria ul li:hover a{
                    color:rgb(50,50,50);
                }

    /* Posts */
    .texto_post_conteudo{
        margin-top:20px;
        font-size:15px;
    }

    .comentarios textarea{
        vertical-align:top;
    }

    /* 404 */
    .mensagem-404{
        margin-top:20px;
        font-family:Georgia,serif;
        font-size:20px;
    }

        .mensagem-404 p img{
            margin:5px 10px 10px 0;
        }

        .mensagem-404 p span{
            font-style:italic;
            color:rgb(0,153,153);
        }

    .link-retorno a{
        color:rgb(0,153,153);
    }

.meteor-slides .meteor-clip {
    height:200px;
}
.banner .meteor-slides .mslide img{
    width:730px;
    height:200px !important;
}