.menu{
    text-align:center;
    background:rgb(255,255,255) url('../imagens/bg-menu-normal.jpg') repeat-x;
    background-size:1px 120px;
    height:100px;
}

.menu ul,
.menu-rodape ul{
    list-style-type:none;
    display:inline-block;    
}

    .menu li,
    .menu-rodape li{
        float:left;
    }

    .menu li{
        background-color:transparent;
        text-align:center;
        margin:0 5px 0 0;
        padding:5px;
        height:90px;
    }

    .menu li:hover{
        background-color:rgb(0,153,153);
    }

    .menu li:hover a{
        color:rgb(255,255,255);
        text-shadow:0 0 10px rgb(0,0,0);
    }

    .menu ul li a,
    .menu-rodape ul li a{
        text-decoration:none;
    }

    .menu a{
        letter-spacing:1px;
        line-height:155px;
        color:rgb(133,133,131);
        -webkit-transition: color .2s linear;
        -moz-transition: color .2s linear;
        -o-transition: color .2s linear;
        transition: color .2s linear;
        font-family:'Didact Gothic',sans-serif;
        font-size:19px;
        font-weight:normal;
        color:rgb(133,133,131);
    }

    .menu a:hover{
        color:rgb(255,255,255);
    }

    /* sprite */

    .menu li.primotech-21{
        background:url('../imagens/sprite-menu.png') no-repeat -1254px 10px;
        background-size:1348px 49px;
    }

    .menu li.primotech-21:hover{
        background:
            url('../imagens/sprite-menu.png') no-repeat -1148px 10px, 
            url('../imagens/bg-menu-hover.jpg') repeat-x left top;
        background-size:1348px 49px, 1px 120px;
    }

    .menu li.fabricantes{
        background:url('../imagens/sprite-menu.png') no-repeat -500px 10px;
        background-size:1348px 49px;
    }

    .menu li.fabricantes:hover{
        background:
            url('../imagens/sprite-menu.png') no-repeat -400px 10px,
            url('../imagens/bg-menu-hover.jpg') repeat-x left top;
        background-size:1348px 49px, 1px 120px;
    }

    .menu li.onde-comprar{
        background:url('../imagens/sprite-menu.png') no-repeat -858px 10px;
        background-size:1348px 49px;
    }

    .menu li.onde-comprar:hover{
        background:
            url('../imagens/sprite-menu.png') no-repeat -758px 10px,
            url('../imagens/bg-menu-hover.jpg') repeat-x left top;
        background-size:1348px 49px, 1px 120px;
    }

    .menu li.aplicacoes{
        background:url('../imagens/sprite-menu.png') no-repeat -301px 10px;
        background-size:1348px 49px;
    }

    .menu li.aplicacoes:hover{
        background:
            url('../imagens/sprite-menu.png') no-repeat -194px 10px,
            url('../imagens/bg-menu-hover.jpg') repeat-x left top;
        background-size:1348px 49px, 1px 120px;
    }

    .menu li.primonews{
        background:url('../imagens/sprite-menu.png') no-repeat -1057px 10px;
        background-size:1348px 49px;
    }

    .menu li.primonews:hover{
        background:
            url('../imagens/sprite-menu.png') no-repeat -966px 10px,
            url('../imagens/bg-menu-hover.jpg') repeat-x left top;
        background-size:1348px 49px, 1px 120px;
    }

    .menu li.amostras{
        background:url('../imagens/sprite-menu.png') no-repeat -90px 10px;
        background-size:1348px 49px;
    }

    .menu li.amostras:hover{
        background:
            url('../imagens/sprite-menu.png') no-repeat 18px 10px,
            url('../imagens/bg-menu-hover.jpg') repeat-x left top;
        background-size:1348px 49px, 1px 120px;
    }

    .menu li.fale-conosco{
        background:url('../imagens/sprite-menu.png') no-repeat -672px 10px;
        background-size:1348px 49px;
    }

    .menu li.fale-conosco:hover{
        background:
            url('../imagens/sprite-menu.png') no-repeat -587px 10px,
            url('../imagens/bg-menu-hover.jpg') repeat-x left top;
        background-size:1348px 49px, 1px 120px;
    }


    /* / sprite*/